# common
node_modules/
*.log
.DS_Store

# env / secrets
.env
.env.*
*/.env
*/.env.*
client/.env.local
client/.env*
server/.env
server/.env.*

# Next.js build outputs
client/.next/
client/out/

# others
coverage/
